#topo {
    text-align: center;
    outline: 5px inset black;
    background-color: #27058e;
    color: white;
}

#menu a {
    text-decoration: none;
}
#menu li{
    list-style-type: none;
    display: inline-block;
}

.destaques li{
    list-style-type: none;
}

.destaques h2 {
    color: #003cffd5;
}

.destaques img {
    width: 150px;
    height: 230px;
}

.destaques a {
    text-decoration: none;
    font-weight: bold;
}

.sobre h3 {
    color: #ff00009f;
}

#produtos tr,
#produtos th,
#produtos td,
#produtos {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}